@{
    ViewBag.Title = "Info";
}
<h2>Smart Bubble Machine Team</h2>

<address>
    Ivan Soldo - hardware engineering<br />
    Josip Puškar - embedded systems<br />
    Ivan Pavić - software engineering<br />
    Ivan Spasić - embedded software engineering<br />
    <br />
    Faculty of Electrical Engineering and Computing<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ivan.pavic2@fer.hr">ivan.pavic2@fer.hr</a><br />
</address>