@{
    ViewBag.Title = "SBM Home";
}
<div class="jumbotron">
    <h1>Smart Bubble Machine Project</h1>
    <p class="lead">
        Smart Bubble Machine is like no other. It is cool because you can control and monitor it over internet. But this
        project is more than just controlling bubble production. It is a new way of seeing things around us.
    </p>
    <p><a href="Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Controlling Smart Bubble Machine means several things. You can regulate
            speed of DC fan, power of its AC motor and monitor fuel and bubble
            production.
        </p>
        <p><a class="btn btn-default" href="/SBMWebInterface">Take Control &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Android App</h2>
        <p>
            For Android users we developed app which enables you to control, configure and
            download data from Smart Bubble Machine via Bluetooth. You can download app
            in the link below.
        </p>
        <p><a class="btn btn-default" href="Home/GetApp">Get Android App &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Beagle Bone Server</h2>
        <p>
            Aside from Azure Web Site, application is running on Tomcat7 server on Beagle Bone.
            Application is Java Servlet based.
        </p>
        <p><a class="btn btn-default" href="Home/About">Learn more &raquo;</a></p>
    </div>
</div>